@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scrollbar-custom::-webkit-scrollbar {
    height: 5px;
    background: none;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #6b5121;
    border-radius: 5px;
  }
  .dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #ffeecd;
  }
}

/* Custom traits des liens burger menu */

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 30px;
  height: 3px;
  transition: 0.3s ease;
}

.dark .link::after {
  background-color: white;
}

.link::after {
  background-color: #c6b18a;
}

.link:hover::after {
  width: 100%;
}

.loading-icon {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #ffeecd;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* BG Positions */

.object-position {
  object-position: 0 -50px;
}
